/=form_for @poster do |p|
/  %h3 Navn på plakat:
/  =p.text_field :name
/  %br
/  %h3 Teksten du vil ha på plakaten:
/  =p.text_area :poster_text
/  %br
/  %h3 Beskrivelse av plakaten:
/  =p.text_area :description
/  %br
/  %h3 Vil du ha flyers?
/  =p.check_box :flyers
/  %br
/  %h3 Vil du ha bannere?
/  =p.check_box :banner
/  %br
/  =p.submit("Lag Plakat")
/  %br
/  =p.select :dimension
=semantic_form_for @poster do |p|
  %dd
    =p.inputs :name
    %p Forsøk å gi en beskrivende tittel.
  %dd
    =p.inputs :poster_text
    %p Dette er teksten som skal stå på plakaten.
  %dd
    =p.inputs :description
    %p Her kan du skrive om ting som ikke skal stå på plakaten, men som du synes der viktig for MG-Layout å vite.
  %dd
    =p.inputs :flyers
    %p Huk av om du ønsker flyers i tillegg.
  %dd
    =p.inputs :banner
    %p Huk av om du ønsker bannere i tillegg.
  %dd
    =p.inputs :dimension
    %p Velg ønskede fysiske mål på plakaten.
  =p.actions :submit, :cancel
