%ul
  - @posters.each do |t|

    %li
      %div{:class=>'well',:style=>''}
        %div{:class=>'list_text'}
          %div{:class=>'list_buttons pull-right'}
            - if t.status==:active
              =link_to 'Rediger', edit_poster_path(t), {:class=>"underline", :title=>"Rediger"} if permitted_to? :edit, t
              =link_to 'Arkiver', archive_poster_path(t) , {:method => :put, :class=>"underline", :title=>"Arkiver"} if permitted_to? :archive, t
              =link_to 'Avbestill', cancel_poster_path(t) , {:method => :put, :class=>"underline", :title=>"Avbestill"} if permitted_to? :cancel, t
            - if t.responsible==@current_user
              =link_to 'Gi bort ansvaret', take_poster_path(t) , {:method => :put, :class=>"underline", :title=>"Gi bort ansvaret"} if permitted_to? :take, t
            - else
              =link_to 'Ta ansvar', take_poster_path(t) , {:method => :put, :class=>"underline", :title=>"Ta jobben"} if permitted_to? :take, t

            - if t.status==:archived or t.status==:canceled
              =link_to 'Gjenopprett', restore_poster_path(t), {:method => :put, :class=>"underline", :title=>"Gjenopprett"} if permitted_to? :restore, t
            - if permitted_to? :destroy, t
              =link_to 'Slett', t, {:method=>:delete, :class=>"underline", :title=>"Slett"} 
          %h3
            = link_to t.name, t
          %p
            =t.description

