%div{:class=>"navbar"}
  %div{:class=>"navbar-inner"}
    %div{:class=>"btn-group"}
      =link_to posters_path, {:class=>"btn"} do
        Hjem
      %a{:class=>"btn dropdown-toggle", :'data-toggle'=>"dropdown", :href=>"#"}
        Sorter etter
        %span{:class=>"caret"}
      %ul{:class=>"dropdown-menu"}
        %li
          =link_to "sist endret", params.merge(:sort => "updated_at")
        %li
          =link_to "navn", params.merge(:sort => "name")
      - if params[:order]=="asc"
        =link_to '<i class="icon-chevron-up"></i>'.html_safe, params.merge(:order => "desc"), {:class=>"btn"}
      - else
        =link_to '<i class="icon-chevron-down"></i>'.html_safe, params.merge(:order => "asc"), {:class=>"btn"}
