=render "navbar"

=render "list"

%br
=link_to "Lag ny plakat", :action => "new"
%br
=link_to "G책 til arkiv", archive_posters_path
%br
=link_to "G책 til avbestilte", cancel_posters_path
%br
=link_to "G책 til de du har ansvar for", take_posters_path
%br
=link_to "G책 til de du har bestilt", order_posters_path
