.success {
    border:1px solid green;
    color:green;
    font-size:20pt;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.list_text{
}

.list_buttons{
  float: right;
}

.formtastic{
  width: 600px;
}

.formtastic textarea{
  width: 400px;
}

li input, li textarea {
  width: 100%;
}

.login-form{
  margin: 3px 0 0 8px;
  width: auto;
}

.login-form input{
  width: 100px;
}

.login-form .btn{
  height: 28px;
  margin-bottom: 8px;
}

.nav ul{
  padding: 0 5px 0 5px;
}

.nav > li > a{
  padding: 10px 5px 10px 5px !important;
}
