.success {
    border:1px solid green;
    color:green;
    font-size:20pt;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.list_text{
}

.list_buttons{
  float: right;
}

.formtastic{
  width: 600px;
}

.formtastic textarea{
  width: 400px;
}

li input, li textarea {
  width: 100%;
}

.login-form{
  margin: 3px 0 0;
  width: auto;
}

.login-form input{
  width: 100px;
  height: 25px;
}
